In [43]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [44]:
# import files

df1=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data1.csv')
df2=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data2.csv')
df3=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data3.csv')
df4=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data4.csv')
df5=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data5.csv')
df6=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data6.csv')
df7=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data7.csv')
df8=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data8.csv')

In [45]:
df1.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [46]:
# get colmns
df1=df1.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df2=df2.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df3=df3.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df4=df4.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df5=df5.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df6=df6.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df7=df7.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df8=df8.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]

In [61]:
# merge all data frames
df=df1.append([df2,df3,df4,df5,df6,df7,df8])
df.head()

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered

In [62]:
# making seperate colmns for day ,month,year
df['Date Announced'].str.split('/').head()

0    [30, 01, 2020]
1    [02, 02, 2020]
2    [03, 02, 2020]
3    [02, 03, 2020]
4    [02, 03, 2020]
Name: Date Announced, dtype: object

In [63]:
# spliting date column into day,month,year
# df['Date Announced'].str.split('/',expand=True)

Date =df['Date Announced'].str.split('/',expand=True)
Date.columns=['Day','Month','Year']
Date.head()

  Day Month  Year
0  30    01  2020
1  02    02  2020
2  03    02  2020
3  02    03  2020
4  02    03  2020

In [66]:
# df=pd.concat([df,Date],axis=1) # dont't run this again , it will again add columns

In [67]:
df

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,Year
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30,01,2020
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,02,02,2020
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,03,02,2020
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,02,03,2020
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,02,03,2020
...,...,...,...,...,...,...,...,...,...,...,...
22790,2.0,07/07/2020,NaN,NaN,NaN,Dadra and Nagar Haveli,Dadra and Nagar Haveli and Daman and Diu,Hospitalized,07,07,2020
22791,-9.0,07/07/2020,NaN,NaN,NaN,NaN,Sikkim,Recovered,07,07,2020
22792,-6.0,07/07/2020,NaN,NaN,NaN,NaN,Sikkim,Recovered,07,07,2020
22793,-1.0,07/07/2020,NaN,NaN,NaN,Kozhikode,Kerala,Recovered,07,07,2020
22794,1.0,07/07/2020,NaN,NaN,NaN,Wayanad,Kerala,Recovered,07,07,2020

In [68]:
df.to_csv('CovidIndia.csv')