### Connecting to google drive (Before Running Main Code Connect to Drive)🥇

In [3]:

from google.colab import drive
drive.mount('/content/drive/')


from google.colab import auth
from google.auth import default
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
import gspread

auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)


# importing libraries
import pandas as pd
import shutil
import os
import datetime 
import numpy as np
#
import re

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

### Adding Weekly Payout Period serial no.

In [4]:
#@title 

#Payout Periods Library
Payout_period_no={' 01 Jan- 01 Jan': 1,
                  ' 02 Jan- 08 Jan': 2, 
                  ' 09 Jan- 15 Jan': 3,
                  ' 16 Jan- 22 Jan': 4,
                  ' 01 Feb- 05 Feb': 5,
                  ' 06 Feb- 12 Feb': 6,
                  ' 13 Feb- 19 Feb': 7,
                  ' 20 Feb- 28 Feb': 8,
                  ' 01 Mar- 05 Mar': 9,
                  ' 06 Mar- 12 Mar': 10,
                  ' 13 Mar- 19 Mar': 11,
                  ' 20 Mar- 26 Mar': 12,
                  ' 27 Mar- 31 Mar': 13,
                  ' 01 Apr- 09 Apr': 14,
                  ' 10 Apr- 16 Apr': 15,
                  ' 17 Apr- 23 Apr': 16,
                  ' 24 Apr- 30 Apr': 17,
                  ' 01 May- 07 May': 18,
                  ' 08 May- 14 May': 19,
                  ' 15 May- 21 May': 20,
                  ' 22 May- 28 May': 21,
                  ' 29 May- 31 May': 22,
                  ' 01 Jun- 04 Jun': 23,
                  ' 05 Jun- 11 Jun': 24,
                  ' 12 Jun- 18 Jun': 25,
                  ' 19 Jun- 25 Jun': 26,
                  ' 26 Jun- 30 Jun': 27,
                  ' 01 Jul- 09 Jul': 28,
                  ' 10 Jul- 16 Jul': 29,
                  ' 17 Jul- 23 Jul': 30,
                  ' 24 Jul- 31 Jul': 31,
                  ' 01 Aug- 06 Aug': 32,
                  ' 07 Aug- 13 Aug': 33,
                  ' 14 Aug- 20 Aug': 34,
                  ' 21 Aug- 27 Aug': 35,
                  ' 28 Aug- 31 Aug': 36,
                  ' 01 Sep- 10 Sep': 37,
                  ' 11 Sep- 17 Sep': 38,
                  ' 18 Sep- 24 Sep': 39,
                  ' 25 Sep- 30 Sep': 40,
                  ' 01 Oct- 08 Oct': 41,
                  ' 09 Oct- 15 Oct': 42,
                  ' 16 Oct- 22 Oct': 43,
                  ' 23 Oct- 29 Oct': 44,
                  ' 30 Oct- 31 Oct': 45,
                  ' 01 Nov- 05 Nov': 46,
                  ' 06 Nov- 12 Nov': 47,
                  ' 13 Nov- 19 Nov': 48,
                  ' 20 Nov- 26 Nov': 49,
                  ' 27 Nov- 30 Nov': 50,
                  ' 01 Dec- 03 Dec': 51,
                  ' 04 Dec- 10 Dec': 52,
                  ' 11 Dec- 17 Dec': 53,
                  ' 18 Dec- 24 Dec': 54,
                  ' 25 Dec- 31 Dec': 55,
                  ' 26 Dec- 31 Dec': 56,
                  ' 01 Jan- 07 Jan': 57,
                  ' 08 Jan- 14 Jan': 58,
                  ' 15 Jan- 21 Jan': 59,
                  ' 22 Jan- 28 Jan': 60,
                  ' 29 Jan- 31 Jan': 61,
                  ' 01 Feb- 04 Feb': 62,
                  ' 05 Feb- 11 Feb': 63,
                  ' 12 Feb- 18 Feb': 64,
                  ' 19 Feb- 25 Feb': 65,
                  ' 26 Feb- 28 Feb': 66,
                  ' 01 Mar- 04 Mar': 67,
                  ' 05 Mar- 11 Mar': 68,
                  ' 12 Mar- 18 Mar': 69,
                  ' 19 Mar- 25 Mar': 70,
                  ' 26 Mar- 31 Mar': 71,
                  ' 01 Apr- 08 Apr': 72,
                  ' 09 Apr- 15 Apr': 73,
                  ' 16 Apr- 22 Apr': 74,
                  ' 23 Apr- 30 Apr': 75,
                  ' 01 May- 06 May': 76,
                  ' 07 May- 13 May': 77,
                  ' 14 May- 20 May': 78}

new_Payout_period_no={}
for key,value in Payout_period_no.items():
    new_key=key.strip()
    new_Payout_period_no[new_key]=value
#new_Payout_period_no

### if files not in folder then move files from one folder to another (Don't Run this unless there is necessary)

In [ ]:
#@title 
# Set the source and destination directories
sor = '/content/drive/MyDrive/Partners Reports Temporary Save 🧩/Swiggy Reports'
des = '/content/drive/MyDrive/01_Sales_Reports/B_Swiggy/2023'


# ********************************************** MAIN CODE **************************************************************
count = 0

# Loop through each file in the source directory
for file in os.listdir(sor):
    src_path = os.path.join(sor, file)
    dest_path = os.path.join(des, file)
    if not os.path.exists(dest_path):    
#      shutil.move(src_path, dest_path)          # If Not Running Always put comment to this line
        
      count += 1

print(f"{count} files moved")

## Long Format i.e. Raw Payout file Format

### Main Consolidation Code

In [33]:
#@title 

#@title DC code for 2023 files
path2='/content/drive/MyDrive/Partners Reports Temporary Save 🧩/Swiggy/Swiggy Reports'   # path of files




# ******************************************************************** MAIN CODE *****************************************************************************
_2023_data=pd.DataFrame()
count2=0
for root, dirs, files in os.walk(path2):
    for file in files:
        get_excel1=pd.ExcelFile(f'{root}/{file}')
        count2+=1
        read_payout_invoice1=pd.read_excel(get_excel1,'Payout Invoice',skiprows=range(5))
        read_summary1=pd.read_excel(get_excel1,'Summary',skiprows=range(2))


    # read_summary2=pd.read_excel(get_excel1,'All Orders',skiprows=range(1))
    # read_payout_invoice1.insert(1,'Year',read_summary2['Order Date'].str.split("-",expand=True)[0],allow_duplicates=True)
    read_payout_invoice1.insert(2,'Payout Period',read_summary1.iloc[13]['Unnamed: 1'],allow_duplicates=False)
    read_payout_invoice1.insert(3,'Res_name',read_summary1.iloc[5]['Unnamed: 1'],allow_duplicates=False)
    read_payout_invoice1.insert(4,'Res_ID',read_summary1.iloc[8]['Unnamed: 1'],allow_duplicates=False)

    read_payout_invoice1.insert(2,'Source_file',file,allow_duplicates=False)
    _2023_data=pd.concat([_2023_data,read_payout_invoice1])
print(count2)


data=_2023_data


data['Year']='2023'
#@title Creating New_Payout Period colm
data['New Payout Period']=data['Payout Period'].str.split('-',expand=True)[0].str[:7] +"-"+ data['Payout Period'].str.split('-',expand=True)[1].str[:7]

#@title Adding Payout_Period_year colm
data['Payout_Period_year']=data['New Payout Period']+" "+data['Year']

#@title droping and renaming colms and nulls rows
data.drop(columns=['Unnamed: 0'],inplace=True)
data.rename(columns={'Unnamed: 1':'Particulars'},inplace=True)


#droping null values
#data.dropna(axis=0,how='all',subset=['Particulars'],inplace=True)
data = data[data['Particulars'].notna()]


#@title filling null values to 0

data.fillna(0,inplace=True)


#@title Particular Serials
Particulars = list(data['Particulars'].unique())
serial_no=dict(zip(Particulars,[i for i in range(0,len(Particulars))]))
#serial_no
data['serial_no']=data['Particulars'].map(serial_no)


#@title Month Colm
data['Month_Year']=data['New Payout Period'].str.split(' ',expand=True)[4]+" "+data['Year'].astype(str)
data['Year'] = np.where(data['Month_Year']=='Dec', 2022, data['Year'])



# assigning payout period serial no.
data['Payout_period_no']=data['New Payout Period'].map(Payout_period_no)

#@title Replacing old names 
data.replace(to_replace={'High Priority':'HIGH_PRIORITY','Refund for Disputed Order':'REFUND_FOR_DISPUTED_ORDER'},inplace=True)



#@title Alphabetic Naming of particulars
g={'Number of orders':'A1',
'Item Total':'A2',
'Packaging & Service Charges':'A3',
'Discounts':'A4',
'Net Bill Value':'A5',
'GST on order (including Cess)':'A6',
'Total Customer Payable ':'A7',

'Swiggy Platform Service Fee':'B1',
'Discount on Swiggy Service Fee':'B2',
'Collection Charges':'B3',
'Access Charges':'B4',
'Merchant Cancellation Charges':'B5',
'Call Center Service Fee':'B6',
'Total Swiggy Service Fees (Before Taxes)':'B7',
'Taxes (GST, CESS) over Service Fee':'B8',
'Total Swiggy Service Fees':'B9',

'Cash Pre-Payment to Merchant':'C1',
'Merchant Share Of Cancelled Orders':'C2',
'Delivery Fee Sponsored By Merchant':'C3',
'GST Deduction U/S 9(5)':'C4',
'Refund For Customer Complaints':'C5',
'Order Level Adjustments':'C6',




'High Priority':'D1',
'Outstanding For Previous Weeks':'D2',
'HIGH_PRIORITY':'D3',
'TCS_REFUND':'D4',
'GST_9_5':'D5',
'LONG_DISTANCE_PACK_CHARGES':'D6',
'Refund':'D7',
'CAROUSAL':'D8',
'REFUND_FOR_DISPUTED_ORDER':'D9',
'Refund for Disputed Order':'D10',
'TDS_REFUND':'D11',
'ADS_SALES_REFUND':'D12',
'LAST_WEEK_OUTSTANDING_CURRENT':'D13',
'EXCESS_PAYOUT':'D14',
'LONG_DISTANCE_PACK_CHARGES_REFUND':'D15',
'Other Charges And Refunds':'D16',

'Net Payout (Before TCS) E = A - B - C - D ':'E',
'TCS':'F',
'TDS':'G',
'Net Payout  (E - F - G)':'H'}
data['Naming']=data['Particulars'].map(g)

mask = data['Particulars'].isin(['High Priority', 'HIGH_PRIORITY', 'TCS_REFUND', 'GST_9_5', 'LONG_DISTANCE_PACK_CHARGES', 'CAROUSAL', 'LONG_DISTANCE_PACK_CHARGES_REFUND', 'REFUND_FOR_DISPUTED_ORDER', 'TDS_REFUND', 'ADS_SALES_REFUND'])

data[['Total', 'Delivered Orders', 'Cancelled Orders']]=data[['Total', 'Delivered Orders', 'Cancelled Orders']].astype(str)

# remove '-' from the specified columns
data.loc[mask, ['Total', 'Delivered Orders', 'Cancelled Orders']] = data.loc[mask, ['Total', 'Delivered Orders', 'Cancelled Orders']].replace('-', '',regex=True)



data['Res_ID']=data['Res_ID'].str.replace('Rest. ID - ',"",regex=True)
## ***********************
os.environ['PYTHONWARNINGS'] = 'always::Warning'
pd.options.mode.chained_assignment = None
os.environ['PYTHONWARNINGS'] = '' 
## ***********************


data.head(2)

13

,Particulars,Source_file,Payout Period,Res_name,Res_ID,Delivered Orders,Cancelled Orders,Total,Year,New Payout Period,Payout_Period_year,serial_no,Month_Year,Payout_period_no,Naming
0,Number of orders,invoice Annexure_444423_25052023_1684986864945...,14 May - 20 May,URUVALU BIRYANI,444423,168.0,6.0,174.0,2023,14 May- 20 May,14 May- 20 May 2023,0,May 2023,78,A1
1,Item Total,invoice Annexure_444423_25052023_1684986864945...,14 May - 20 May,URUVALU BIRYANI,444423,45025.0,1704.0,46729.0,2023,14 May- 20 May,14 May- 20 May 2023,1,May 2023,78,A2

## Converting to wide format data 📍

### Read data from above long format and then apply Swiggy wide format "Total"  file - 1

In [34]:
#@title 

# ws = gc.open_by_key("1r33gpFfRF59aKi-4cSRFMKMyR_f_4bloLXH8V1ZYlgg").sheet1

# rows=ws.get_all_values()
# df=pd.DataFrame.from_records(rows[1:],columns=rows[0])

df=data

df['Res_name_id']=df['Res_name']+"_"+df['Res_ID']
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

pivoted_total=df.pivot_table(columns=['Naming','Particulars'],index=['Source_file','Res_name_id','New Payout Period','Month_Year','Payout_period_no'],values=['Total'],aggfunc='sum')
pivoted_total['Status']='Total'
df_total=pd.DataFrame(pivoted_total)
df_total=df_total.reset_index()
df_total.columns=df_total.columns.droplevel(1)



df_total.columns=df_total.columns.droplevel()
df_total=df_total.reset_index()
df_total.columns.values[0]='Serial_no'
df_total.columns.values[1]='Source_file'
df_total.columns.values[2]='Res_name_id'
df_total.columns.values[3]='New Payout Period'
df_total.columns.values[4]='Month_Year'
df_total.columns.values[-1]='Status'
df_total.drop(columns=df_total.columns.values[5],inplace=True)


df_total.fillna(0,inplace=True)
df_total.head(2)

Particulars,Serial_no,Source_file,Res_name_id,New Payout Period,Month_Year,Number of orders,Item Total,Packaging & Service Charges,Discounts,Net Bill Value,...,Refund For Customer Complaints,Order Level Adjustments,Other Charges And Refunds,LONG_DISTANCE_PACK_CHARGES,REFUND_FOR_DISPUTED_ORDER,Net Payout (Before TCS) E = A - B - C - D,TCS,TDS,Net Payout (E - F - G),Status
0,0,invoice Annexure_180796_24052023_1684928660315...,Biryani Box_180796,14 May- 20 May,May 2023,33.0,9358.0,595.0,3279.97,6673.03,...,0.0,508.65,-703.0,649.0,54.0,3943.17,0.0,64.98,3878.19,Total
1,1,invoice Annexure_180801_24052023_1684928524400...,Roj ka Khana(Daily Meals)_180801,14 May- 20 May,May 2023,360.0,119618.0,7185.0,21463.34,105339.66,...,0.0,6469.91,0.0,0,0,74585.43,0.0,1036.93,73548.5,Total

In [35]:
#@title Swiggy wide format "Cancelled" file - 2
pivoted_cancelled=df.pivot_table(columns=['Naming','Particulars'],index=['Source_file','Res_name_id','New Payout Period','Month_Year','Payout_period_no'],values=['Cancelled Orders'],aggfunc='sum')
pivoted_cancelled['Status']='Cancelled'
df_cancelled=pd.DataFrame(pivoted_cancelled)
df_cancelled=df_cancelled.reset_index()
df_cancelled.columns=df_cancelled.columns.droplevel(1)



df_cancelled.columns=df_cancelled.columns.droplevel()
df_cancelled=df_cancelled.reset_index()
df_cancelled.columns.values[0]='Serial_no'
df_cancelled.columns.values[1]='Source_file'
df_cancelled.columns.values[2]='Res_name_id'
df_cancelled.columns.values[3]='New Payout Period'
df_cancelled.columns.values[4]='Month_Year'
df_cancelled.columns.values[-1]='Status'
df_cancelled.drop(columns=df_cancelled.columns.values[5],inplace=True)


df_cancelled.fillna(0,inplace=True)
df_cancelled.head(1)

Particulars,Serial_no,Source_file,Res_name_id,New Payout Period,Month_Year,Number of orders,Item Total,Packaging & Service Charges,Discounts,Net Bill Value,...,Refund For Customer Complaints,Order Level Adjustments,Other Charges And Refunds,LONG_DISTANCE_PACK_CHARGES,REFUND_FOR_DISPUTED_ORDER,Net Payout (Before TCS) E = A - B - C - D,TCS,TDS,Net Payout (E - F - G),Status
0,0,invoice Annexure_180796_24052023_1684928660315...,Biryani Box_180796,14 May- 20 May,May 2023,1.0,300.0,0.0,125.0,175.0,...,0.0,183.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cancelled

In [36]:
#@title Swiggy wide format "Delivered"  file - 3
pivoted_delivered=df.pivot_table(columns=['Naming','Particulars'],index=['Source_file','Res_name_id','New Payout Period','Month_Year','Payout_period_no'],values=['Delivered Orders'],aggfunc='sum')
pivoted_delivered['Status']='Delivered'
df_delivered=pd.DataFrame(pivoted_delivered)
df_delivered=df_delivered.reset_index()
df_delivered.columns=df_delivered.columns.droplevel(1)



df_delivered.columns=df_delivered.columns.droplevel()
df_delivered=df_delivered.reset_index()
df_delivered.columns.values[0]='Serial_no'
df_delivered.columns.values[1]='Source_file'
df_delivered.columns.values[2]='Res_name_id'
df_delivered.columns.values[3]='New Payout Period'
df_delivered.columns.values[4]='Month_Year'
df_delivered.columns.values[-1]='Status'
df_delivered.drop(columns=df_delivered.columns.values[5],inplace=True)


df_delivered.fillna(0,inplace=True)
df_delivered.head(1)

Particulars,Serial_no,Source_file,Res_name_id,New Payout Period,Month_Year,Number of orders,Item Total,Packaging & Service Charges,Discounts,Net Bill Value,...,Refund For Customer Complaints,Order Level Adjustments,Other Charges And Refunds,LONG_DISTANCE_PACK_CHARGES,REFUND_FOR_DISPUTED_ORDER,Net Payout (Before TCS) E = A - B - C - D,TCS,TDS,Net Payout (E - F - G),Status
0,0,invoice Annexure_180796_24052023_1684928660315...,Biryani Box_180796,14 May- 20 May,May 2023,32.0,9058.0,595.0,3154.97,6498.03,...,0.0,324.9,0.0,0.0,0.0,4646.17,0.0,64.98,4581.19,Delivered

In [37]:
#@title Merging, Assigning numbers to Payout Periods and Pushing data to sheet

sheetid = '1G79VN4KjG4S3n7O2JS8G6q9bCChlOd3yMTGaobkv_KQ'        # sheetid





# **************************************** Main Code *************************************************


final_data=pd.concat([df_total,df_delivered,df_cancelled],ignore_index=True)

final_data['Payout_period_no']=final_data['New Payout Period'].map(new_Payout_period_no)
final_data.fillna(0,inplace=True)


#@title Pushing data to sheet

import gspread_dataframe as gd

ws = gc.open_by_key(f'{sheetid}')
wr=ws.worksheet('Swiggy Payout Summary')
existing = gd.get_as_dataframe(wr)
updated = existing.append(final_data)
gd.set_with_dataframe(wr, updated)



rows=wr.get_all_values()
new_df=pd.DataFrame.from_records(rows[1:],columns=rows[0])


new_df.replace(r'^\s*$', np.nan, regex=True, inplace=True)
new_df.fillna(0,inplace=True)
new_df.head(2)

gd.set_with_dataframe(wr, new_df)

<ipython-input-37-a9e55c3c9b3a>:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated = existing.append(final_data)

## Move files to respective folders

In [38]:
#@title SWIGGY Move the files to their respective Res_name folders

# Define source and destination folders
source_folder = '/content/drive/MyDrive/Partners Reports Temporary Save 🧩/Swiggy/Swiggy Reports'
destination_folder = '/content/drive/MyDrive/01_Sales_Reports/B_Swiggy/2023'





# ************************************************************ MAIN CODE ****************************************************************************

swiggy_data=data

swiggy_data['Payout Month']=swiggy_data['Payout Period'].str.split(' ').str[5]
swig_data=swiggy_data[['Source_file','Payout Period','Res_name','Payout Month','Year']]
swig_data.rename(columns={'Res_name':'Res_Name','Source_file':'Source_files'},inplace=True)


invoice_data = swig_data
count=0
# Loop through each row in the invoice data
for index, row in invoice_data.iterrows():

    # Create the destination folder path i.e. Res name folders
    payout_month_folder = os.path.join(destination_folder, row['Payout Month'])
    res_name_folder = os.path.join(payout_month_folder, row['Res_Name'])


    # Create the destination folders if they don't exist
    if not os.path.exists(payout_month_folder):
        os.mkdir(payout_month_folder)

    if not os.path.exists(res_name_folder):
        os.mkdir(res_name_folder)

    # Construct the source file path and destination file path
    source_file_path = os.path.join(source_folder, row['Source_files'])
    destination_file_path = os.path.join(res_name_folder, row['Source_files'])

    if os.path.exists(destination_file_path):
      if not os.path.exists(source_file_path):
        continue
    else :
      shutil.move(source_file_path, destination_file_path)
      count+=1
print(count)

print('Done!')

13
Done!

#@ %%%%%%%%%%%% &&&&&&&&&&&&&&&&&&&&