In [3]:
#@title Connecting to google drive ðŸ¥‡
from google.colab import drive
drive.mount('/content/drive/')


from google.colab import auth
from google.auth import default
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
import gspread

auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

import pandas as pd
import shutil
import os
import datetime 
import glob
import numpy as np
from openpyxl import load_workbook

#
import re

Mounted at /content/drive/

In [4]:
#@title Adding Weekly Payout Period serial no. (Before Proceding Please add payout period and its no.)
report_period_serials={'28 Mar-03 Apr'	:1,
                        '04 Apr-10 Apr'	:2,
                        '11 Apr-17 Apr'	:3,
                        '18 Apr-24 Apr'	:4,
                        '25 Apr-01 May'	:5,
                        '30 May-05 Jun'	:10,
                        '23 May-29 May'	:9,
                        '02 May-08 May'	:6,
                        '16 May-22 May'	:8,
                        '09 May-15 May'	:7,
                        '20 Jun-26 Jun'	:13,
                        '13 Jun-19 Jun'	:12,
                        '27 Jun-03 Jul'	:14,
                        '06 Jun-12 Jun'	:11,
                        '25 Jul-31 Jul'	:18,
                        '18 Jul-24 Jul'	:17,
                        '11 Jul-17 Jul'	:16,
                        '04 Jul-10 Jul'	:15,
                        '29 Aug-04 Sep'	:23,
                        '01 Aug-07 Aug'	:19,
                        '22 Aug-28 Aug'	:22,
                        '15 Aug-21 Aug'	:21,
                        '08 Aug-14 Aug'	:20,
                        '19 Sep-25 Sep'	:26,
                        '26 Sep-02 Oct'	:27,
                        '05 Sep-11 Sep'	:24,
                        '12 Sep-18 Sep'	:25,
                        '17 Oct-23 Oct'	:30,
                        '10 Oct-16 Oct'	:29,
                        '24 Oct-30 Oct'	:31,
                        '03 Oct-09 Oct'	:28,
                        '31 Oct-06 Nov'	:32,
                        '28 Nov-04 Dec'	:35,
                        '14 Nov-20 Nov'	:34,
                        '07 Nov-13 Nov'	:33,
                        '26 Dec-01 Jan'	:39,
                        '12 Dec-18 Dec'	:37,
                        '05 Dec-11 Dec'	:36,
                        '19 Dec-25 Dec'	:38,
                        '09 Jan-15 Jan'	:41,
                        '02 Jan-08 Jan'	:40,
                        '16 Jan-22 Jan'	:42,
                        '23 Jan-29 Jan'	:43,
                        '30 Jan-05 Feb'	:44,
                        '06 Feb-12 Feb'	:45,
                        '13 Feb-19 Feb'	:46,
                        '20 Feb-26 Feb'	:47,
                        '27 Feb-05 Mar'	:48,
                        '06 Mar-12 Mar'	:49,
                        '13 Mar-19 Mar'	:50,
                        '20 Mar-26 Mar'	:51,
                       '27 Mar-02 Apr'	:52,
                       '03 Apr-09 Apr'	:53,
                       '10 Apr-16 Apr'	:54,
                       '17 Apr-23 Apr'	:55,
                       '24 Apr-30 Apr'	:56,
                       '01 May-07 May'	:57,
                       '08 May-14 May'	:58,
                       '15 May-21 May'	:59}

In [ ]:
#@title Changing names of report files to Standard names



folder='/content/drive/MyDrive/Partners Reports Temporary Save ðŸ§©/Thrive/Thrive reports/Summary'



# ************************************************************************* MAIN CODE ***********************************************************************************
count=0
files = glob.glob(os.path.join(folder , "*.csv"))

for file in files: 
  read_csv=pd.read_csv(file,names=['Column1',	'Column2'	,	'Column3'	,'Column4', 'Column5','Column6'])
  count+=1
  oldname=os.path.join(folder,file)          
  split_name = os.path.splitext(os.path.basename(file))[0][:7]  

  new_name=split_name+"_"+read_csv.iloc[0]['Column2']+"_"+read_csv.iloc[1]['Column2']+"_"+read_csv.iloc[2]['Column2']+'.csv'             
  newname=os.path.join(folder,new_name)     
  os.rename(oldname,newname)                



print(count)

4

In [11]:
#@title Main Code

path = '/content/drive/MyDrive/Partners Reports Temporary Save ðŸ§©/Thrive/Thrive reports/Summary' # copy paste your path






# ***************************************************************************** MAIN CODE ****************************************************************
count=0
data=pd.DataFrame()


files = glob.glob(os.path.join(path , "*.csv"))

for file in files:
  read_csv=pd.read_csv(file,names=['Column1',	'Column2'	,	'Column3'	,'Column4', 'Column5','Column6'],skiprows=7)

  read_csv2=pd.read_csv(file,names=['Column1',	'Column2'	,	'Column3'	,'Column4', 'Column5','Column6'])

  read_csv.insert(0,'Source_files',os.path.basename(file),allow_duplicates=False)
  read_csv.insert(1,'Period From',read_csv2.iloc[1]['Column2'],allow_duplicates=False)
  read_csv.insert(2,'Period To',read_csv2.iloc[2]['Column2'],allow_duplicates=False)
  read_csv.insert(3,'Res_name',read_csv2.iloc[0]['Column2'],allow_duplicates=False)
  data=pd.concat([data,read_csv])
  count+=1
print('Total Files - ',count)


#@title Droping Null Rows
data.dropna(0,how='all',subset=['Column1',	'Column2'	,	'Column3'	,'Column4', 'Column5','Column6'],inplace=True)


#@title Droping rows and Renaming the cols

data.dropna(0,how='any',subset=['Column1'],inplace=True)

r=	['Column1','Column2'	,	'Column3'	,'Column4', 'Column5','Column6']
d=['Particular','Delivery Orders',	'Take-Away Orders',	'Dine In Orders'	,'Cancelled Orders'	,'Total Orders']
rename_cols=dict(zip(r,d))
#rename_cols
data.rename(columns=rename_cols,inplace=True)


#@title alpha serials for particulars
	
alpha_serials={'Number Of Orders':	'A',
              'Item Sub-Total':	'B',
              'Packaging Or Service Charges':	'C',
              'Delivery Charges'	:'D',
              'Discounts':	'E',
              'Net Bill Value'	:'F',
              'GST Charged to Customer':	'G',
              'Total Customer Payable':	'H',
              'Hashtag Loyalty Service Fees - Direct':	'I',
              'Razorpay Transaction Fee':	'J',
              'Delivery Fee':	'K',
              'Commission - Consumer - New User':'L',
              'Commission - Consumer - Repeat User':'M',
              'Total GST over fees'	:'N',
              'Total Service Fees':	'O',
              'GST Deducted':	'P',
              'TCS Deducted'	:'Q',
              'TDS Deducted':	'R',
              'Net Payable'	:'S'}
data['Alpha_serials']=data['Particular'].map(alpha_serials)


#@title add year
data['Year']=data['Period To'].str.split('-',expand=True)[2]


#@title Adding Month and report periods, droping cols


data['Frm day']=data['Period From'].str.split('-',expand=True)[0]
data['Frm Mon']=data['Period From'].str.split('-',expand=True)[1]
data['Frm Mon name']=pd.to_datetime(data['Frm Mon'],format='%m').dt.month_name().str.slice(stop=3)


data['To day']=data['Period To'].str.split('-',expand=True)[0]
data['To Mon']=data['Period To'].str.split('-',expand=True)[1]
data['To Mon name']=pd.to_datetime(data['To Mon'],format='%m').dt.month_name().str.slice(stop=3)



data['New Period From']= data['Frm day'] + " " + data['Frm Mon name'].astype(str)
data['New Period To']= data['To day'] + " " + data['To Mon name'].astype(str)


data['Report Period']=data['New Period From']+"-"+data['New Period To']


data.drop(columns=['Frm Mon','Frm day','To day','To Mon','To Mon name','New Period From','New Period To'],inplace=True)
data.rename(columns={'Frm Mon name':'Month'},inplace=True)


#@title Serial no. fr months
#data['Month'].unique()
months=['Mar','Apr','May','Jun', 'Jul','Aug','Sep','Oct','Nov', 'Dec','Jan']
serial_no=dict(zip(months,[mon for mon in range(1,len(months)+1)]))
#serial_no
data['Mon_Serialno']=data['Month'].map(serial_no)


#serial for particulars
l=list(data['Particular'].unique())

o=dict(zip(l,[i for i in range(1,len(l)+1)]))
                               
data['Serial_no']=data['Particular'].map(o)



#@title Adding report_period_serials colm

data['Report_period_serial']=data['Report Period'].map(report_period_serials)

Total Files -  15

<ipython-input-11-f251dec197b4>:32: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  data.dropna(0,how='all',subset=['Column1',	'Column2'	,	'Column3'	,'Column4', 'Column5','Column6'],inplace=True)
<ipython-input-11-f251dec197b4>:37: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  data.dropna(0,how='any',subset=['Column1'],inplace=True)

In [12]:
data.head(2)

,Source_files,Period From,Period To,Res_name,Particular,Delivery Orders,Take-Away Orders,Dine In Orders,Cancelled Orders,Total Orders,Alpha_serials,Year,Month,Report Period,Mon_Serialno,Serial_no,Report_period_serial
1,summary_Mann Food Court_15-05-2023_21-05-2023.csv,15-05-2023,21-05-2023,Mann Food Court,Number Of Orders,17,0,0,0,17,A,2023,May,15 May-21 May,3,1,59
2,summary_Mann Food Court_15-05-2023_21-05-2023.csv,15-05-2023,21-05-2023,Mann Food Court,Item Sub-Total,8154.0,0.0,0.0,0.0,8154.0,B,2023,May,15 May-21 May,3,2,59

In [ ]:
#@title Pushing to Sheet
import gspread_dataframe as gd

wc=gc.open_by_key('1sptwuyzAeXuiJxPwLTyvvV9ZuXSr4TTINLKiOr-WJeE').sheet1
existing=gd.get_as_dataframe(wc)
update=existing.append(data)
#gd.set_with_dataframe(wc,update)

## Move Files to Respective FOlders

In [ ]:
#@title Thrive Move the files to their respective Res_name folders


# Define source and destination folders
source_folder = '/content/drive/MyDrive/Partners Reports Temporary Save ðŸ§©/Thrive/Thrive reports/Summary'

destination_folder = '/content/drive/MyDrive/01_Sales_Reports/D_Thrive/Summary_report_files/2023'



# ************************************************************ MAIN CODE ****************************************************************************
thrive_data=data
invoice_data = thrive_data

files_moved = {}

# Loop through each row in the invoice data
for index, row in invoice_data.iterrows():

    # Create the destination folder path i.e. Res name folders
    payout_month_folder = os.path.join(destination_folder, row['Month'])
    res_name_folder = os.path.join(payout_month_folder, row['Res_name'])


    # Create the destination folders if they don't exist
    if not os.path.exists(payout_month_folder):
        os.mkdir(payout_month_folder)

    if not os.path.exists(res_name_folder):
        os.mkdir(res_name_folder)



    # Construct the source file path and destination file path
    source_file_path = os.path.join(source_folder, row['Source_files'])
    destination_file_path = os.path.join(res_name_folder, os.path.basename(source_file_path))

    # Check if the file already exists in the destination folder
    if os.path.exists(destination_file_path):
        continue
    else:
        # Move the file to the destination folder
        shutil.move(source_file_path, res_name_folder)

In [ ]:
#@title If files not in folder then move files from one folder to another 
# Set the source and destination directories
source = '/content/drive/MyDrive/Partners Reports Temporary Save ðŸ§©/Thrive Reports'
destination = '/content/drive/MyDrive/01_Sales_Reports/B_Swiggy/2023'

count = 0

# Loop through each file in the source directory
for file in os.listdir(source):
    src_path = os.path.join(source, file)
    dest_path = os.path.join(destination, file)
    if not os.path.exists(dest_path):    
#      shutil.move(src_path, dest_path)  
        
      count += 1

print(f"{count} files moved")

## Ignore Below Code

In [ ]:
#@title Excluding Feb
data=data[~data['Month'].isin(['Feb'])]

In [ ]:
#@title Serial no. fr months
#data['Month'].unique()
months=['Mar','Apr','May','Jun', 'Jul','Aug','Sep','Oct','Nov', 'Dec','Jan']
serial_no=dict(zip(months,[mon for mon in range(1,len(months)+1)]))
#serial_no
data['Mon_Serialno']=data['Month'].map(serial_no)


#serial for particulars
l=list(data['Particular'].unique())

o=dict(zip(l,[i for i in range(1,len(l)+1)]))
                               
data['Serial_no']=data['Particular'].map(o)

In [ ]:
#@title Making Not Needed periods i.e Full months
u=list(data['Report Period'].unique())
whole_month_periods=[]
j=['Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov','Dec', 'Jan']
for i in u:
  for k in j:
    if f'01 {k}-31 {k}' in i:
      whole_month_periods.append(i)
    if f'01 {k}-30 {k}' in i:
      whole_month_periods.append(i) 
      #print(i)
# #whole_month_periods=['01 Mar-31 Mar','01 Jul-31 Jul','01 Apr-30 Apr','01 Jul-31 Jul','01 Aug-31 Aug','01 Sep-30 Sep','01 Oct-31 Oct','01 Nov-30 Nov','01 Dec-31 Dec']

In [ ]:
#@title Seprating months data and savng to excel
month_data=data[data['Report Period'].isin(whole_month_periods)]
month_data=month_data.sort_values(by='Mon_Serialno')
month_data.drop(columns=['Report_period_serial'],inplace=True)
month_data.rename(columns={'Report Period':'Month Report Period'},inplace=True)
month_data.head(3)


# # Generating workbook
# ExcelWorkbook = load_workbook('/content/drive/MyDrive/13_Data_Analyst/Thrive/Thrive Dashboard File/Thrive frm April 2022.xlsx')
 
# # Generating the writer engine
# writer = pd.ExcelWriter('/content/drive/MyDrive/13_Data_Analyst/Thrive/Thrive Dashboard File/Thrive frm April 2022.xlsx', engine = 'openpyxl')
 
# # Assigning the workbook to the writer engine
# writer.book = ExcelWorkbook
 
# # Adding the DataFrames to the excel as a new sheet
# month_data.to_excel(writer, sheet_name = 'sid1',index=False)
# writer.save()
# writer.close()

,Particular,Period From,Period To,Res_name,Delivery Orders,Take-Away Orders,Dine In Orders,Cancelled Orders,Total Orders,Alpha_serials,Month,Month Report Period,Mon_Serialno,Serial_no
12,Total GST over fees,01-03-2022,31-03-2022,Mann Food Court,489.75,34.56,0.0,0.0,524.31,L,Mar,01 Mar-31 Mar,1,12
13,Total Service Fees,01-03-2022,31-03-2022,Mann Food Court,3210.58,226.56,0.0,0.0,3437.15,M,Mar,01 Mar-31 Mar,1,13
15,Net Payable,01-03-2022,31-03-2022,Mann Food Court,13761.84,3853.12,0.0,226.8,17614.95,Q,Mar,01 Mar-31 Mar,1,17

In [ ]:
#@title Excluding Not Needed periods
data=data[~data['Report Period'].isin(whole_month_periods)]

In [ ]:
data.head(2)

,Particular,Period From,Period To,Res_name,Delivery Orders,Take-Away Orders,Dine In Orders,Cancelled Orders,Total Orders,Alpha_serials,Year,Month,Report Period,Mon_Serialno,Serial_no,Report_period_serial
1,Number Of Orders,01-03-2023,31-03-2023,Chinese Chaska,8,6,0,0,14,A,2023,Mar,01 Mar-31 Mar,1.0,1,NaN
2,Item Sub-Total,01-03-2023,31-03-2023,Chinese Chaska,2286.0,1188.0,0.0,0.0,3474.0,B,2023,Mar,01 Mar-31 Mar,1.0,2,NaN

In [ ]:
#@title Pivoted data
pivoted_data=pd.pivot_table(data,values='Total Orders',index=['Serial_no','Particular','Res_name'],columns=['Mon_Serialno','Report Period'],aggfunc='sum').sort_values(by='Serial_no')
#pivoted_data.head(3)

In [ ]:
#@title appedning from last row
import gspread_dataframe as gd

wc=gc.open_by_key('1sptwuyzAeXuiJxPwLTyvvV9ZuXSr4TTINLKiOr-WJeE').sheet1
existing=gd.get_as_dataframe(wc)
update=existing.append(data)
gd.set_with_dataframe(wc,update)

<ipython-input-14-59369b464b96>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  update=existing.append(data)

In [ ]:
#@title opening different sheets and also appedning from last row
import gspread_dataframe as gd
wc=gc.open_by_key('1ZYlLQJ2Nq_Isk6jsaGFaVfJ714U5TgF8k6mELPiZIY0').sheet1


existing_data=gd.get_as_dataframe(wc)
update=existing_data.append(data)
gd.set_with_dataframe(wc,update)

In [ ]:
#@title update by cell (comted)
# cell_list = worksheet.range('AT2:AT500')
# cell_values = db['16 Jan-22 Jan'].tolist()

# for i, val in enumerate(cell_values):  #gives us a tuple of an index and value
#     cell_list[i].value = val    #use the index on cell_list and the val from cell_values

# worksheet.update_cells(cell_list)
# worksheet.update_acell('AT1','16 Jan-22 Jan')

In [ ]:
#db.to_excel('/content/drive/MyDrive/13_Data_Analyst/Thrive/Thrive frm April 2022 New.xlsx')

In [ ]:
#@title Adding Credit% Rows Commented ***
p=db[db['Particular']=='Net Bill Value'].groupby(['Res_name'])[db.columns.values[3:]].sum()
#p



e=db[db['Particular']=='Net Payable'].groupby(['Res_name'])[db.columns.values[3:]].sum()
#e

Credit_percent=pd.DataFrame(round(((p/e)*100),0))
Credit_percent.insert(0,'Particular',value='Credit%',allow_duplicates=False)
Credit_percent=Credit_percent.reset_index() 
Credit_percent


# credit_per_order= 'net payable'/No. of orders